html {
    margin: 0;
}
nav {
    width: 100%;
}
span{
    display: block;
}
a{
    text-decoration: none;
    width:50%;
    border: 2px solid black;
    padding:20px;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    align-items: center;
    float: none;
    align-content: center;

}
.canvas{
    margin:100px auto 100px;
    width:80%;
    text-align: center;
}
.button {
    width:100px;
    height:100px;
    border: solid black 2px;
    display:inline-block;
}
#brown {
    background: brown;
}
#orange {
    background: orange;
}
#pink {
    background: pink;
}
#red {
    background: red;
}
#green {
    background: green;
}
#grey{
    background: grey;
}
#white{
    background: white;
}
#blue {
    background: blue;
}
#yellow {
    background: yellow;
}